<p id="notice"><%= notice %></p>

<p>
  <strong>ชื่อ</strong>
  <%= @member.fname %>
</p>

<p>
  <strong>นามสกุล</strong>
  <%= @member.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>วันเกิด</strong>
  <%= @member.dob %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
